

<h1>{{title}}</h1>

{{#each post}}
  <ul>
    <a href="/post/{{id}}">
      <h2><li>{{this.post_content}}</li></h2>
      <p>submitted by: {{this.username}}</p>
    </a>
  </ul>
{{/each}}

<br>
<form class="" action="/" method="get">
  <input type="search" name="" placeholder="Search">
</form>
<br>
<form class="" action="/users/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password"><br>
  <button type="submit" name="button">Login</button>
</form>
<br>
<form class="" action="/post/new" method="get">
  <button type="submit" name="button">Submit Link</button>
</form>
<br>
<form class="" action="/post/newtextpost" method="get">
  <button type="submit" name="button">Submit Text Post</button>
</form>
