<form class="" action="/users/new_user" method="post">
  First Name <br><input type="text" name="firstname" value=""><br>
  Last Name <br><input type="text" name="lastname" value=""><br>
  Username <br><input type="text" name="username" value=""><br>
  Password <br><input type="password" name="password" value=""><br>
  Retype Password <br><input type="password" name="confirm" value=""><br>
  Email <br><input type="text" name="email" value=""><br>
  Age <br><input type="text" name="age" value=""><br><br>
  <button type="submit" name="button">Submit</button>
</form>
