<h1>submit to WengeDit</h1>

<form class="" action="/post" method="post">
  <input type="text" name="textBox" placeholder="30 character limit">
  <br><input type="text" name="postTitle" placeholder="title">
</form>
