<h1>Submit to WengeDit</h1>

<form class="" action="/textpost" method="post">
  <input type="text" name="postUrl" placeholder="url">
  <br><input type="text" name="postTitle" placeholder="title">
</form>
