

<h1>Update user information</h1>
<form class="" action="/users/{{userId}}" method="post">
  <input type="text" name="firstname" placeholder="first name"><br>
  <input type="text" name="lastname" placeholder="last name"><br>
  <input type="text" name="username" placeholder="username"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="password" name="confirmNewPass" placeholder="confirm password"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="text" name="age" placeholder="age"><br>
  <input type="submit" placeholder="Submit">
</form>
